body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
}

.logo {
    width: 80px;
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background: #eee;
}